/*
	Slideshow
*/
#banner {
  z-index: 98;
  width: 960px;
  height: 300px;
  position: relative;
  /*
		Slides container
		Important:
		Set the width of your slides container
		Set to display none, prevents content flash
	*/

  /*
		Each slide
		Important:
		Set the width of your slides
		If height not specified height will be set by the slide content
		Set to display block
	*/

  /*
		Pagination
	*/

}
#banner .slides_container {
  width: 960px;
  height: 300px;
  overflow: hidden;
  position: relative;
  display: none;
}
#banner .slides_container a {
  width: 960px;
  height: 300px;
  display: block;
}
#banner .slides_container a img {
  display: block;
}
#banner .pagination {
  margin: 26px auto 0;
  width: 400px;
  text-align: right;
  position: absolute;
  bottom: 20px;
  right: 40px;
  z-index: 99;
}
#banner .pagination li {
  list-style: none;
  display: inline-block;
  margin: 0 5px;
}
#banner .pagination li a {
  display: block;
  width: 13px;
  height: 13px;
  background-color: #FFF;
  border: none;
  padding-top: 1px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  text-indent: 9999em;
}
#banner .pagination li.current a {
  background-position: 0 -12px;
  background-color: #1daa9a;
  padding-top: none;
  border: 2px solid #FFF;
}
#banner #categories {
  z-index: 120;
  position: absolute;
  top: -15px;
  left: 0;
  background: transparent url('../images/categories-bar.png') no-repeat 0 0;
  width: 40px;
  height: 332px;
}
